<div class="row footer desktop">
	<div class="col-md-offset-2 col-md-2 ft-menu">
		<div class="row"><div class="col-md-12"><a class="uppercase footer-links" href="#">Home</a></div></div>
		<div class="row"><div class="col-md-12"><a class="uppercase footer-links" href="#">About us</a></div></div>
		<div class="row"><div class="col-md-12"><a class="uppercase footer-links" href="#">Services</a></div></div>
		<div class="row"><div class="col-md-12"><a class="uppercase footer-links" href="#">News</a></div></div>
		<div class="row"><div class="col-md-12"><a class="uppercase footer-links" href="#">Contact</a></div></div>
	</div>
	<div class="col-md-3">
		<div class="row"><div class="col-md-12">
			<span class="dsp-bk uppercase">Contact us</span>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit
		</div></div>
		<div class="row"><div class="col-md-12">
			<span style="font-weight: 600">Email:</span>&nbsp;
			hello@company.com
		</div></div>
		<div class="row"><div class="col-md-12">
			<span style="font-weight: 600">Phone:</span>&nbsp;
			+375 (29) 543-76-49, +375 (29) 543-76-49
		</div></div>
		<div class="row"><div class="col-md-12">
			<span class="dsp-bk"><span style="font-weight: 600">Mail:</span> 20 Lorem ipsum do sit amet</span>
			6046 Larsinac, Country
		</div></div>
	</div>
	<div class="col-md-4">
		<div class="row"><div class="col-md-12">
			<span class="dsp-bk uppercase">Newsletter</span>
			Eiusmod tempor incididunt ut labore et dolore magna
		</div></div>
		<div class="row"><div class="col-md-8">
			<input class="form-control" placeholder="Enter E-mail" />
		</div></div>
		<div class="row"><div class="col-md-12">
		<button class="btn btn-primary" style="margin-top: 20px;">Submit</button>
		</div></div>
	</div>
</div>

<div class="row footer mobile">
	<div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-2">123 Mountain Road, Boulder, CO</div>
	<div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-2">
		<img src="assets/images/logo-negative.png" class="logo-footer">
	</div>
	<div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-2">Phone: 800.356.4242</div>
	<div class="col-xs-12 col-sm-12 col-md-2">Fax: 215.887.3652</div>
	<div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-2">&#169; Mystic River Club 2017. All rights rezerved.</div>
	<div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-2">
		<i class="fa fa-facebook fa-lg"></i>
		<i class="fa fa-twitter fa-lg"></i>
		<i class="fa fa-instagram fa-lg"></i>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-2">Powered by Jonas Software</div>
</div>

<div class="end">Copyright &copy; All rights Reserved</div>
