<div class="row footer ft-desktop">
	<div class="col-sm-12 col-md-offset-2 col-md-2 col-lg-offset-2 col-lg-2 ft-menu">
		<div class="row"><div class="col-md-12"><a class="uppercase footer-links" href="#" onclick="return false;">Home</a></div></div>
		<div class="row"><div class="col-md-12"><a class="uppercase footer-links" href="#" onclick="return false;">About us</a></div></div>
		<div class="row"><div class="col-md-12"><a class="uppercase footer-links" href="#" onclick="return false;">Services</a></div></div>
		<div class="row"><div class="col-md-12"><a class="uppercase footer-links" href="#" onclick="return false;">News</a></div></div>
		<div class="row"><div class="col-md-12"><a class="uppercase footer-links" href="#" onclick="return false;">Contact</a></div></div>
	</div>
	<div class="col-sm-8 col-md-3 col-lg-3">
		<div class="row"><div class="col-md-12">
			<span class="dsp-bk uppercase">Contact us</span>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit
		</div></div>
		<div class="row"><div class="col-md-12">
			<span style="font-weight: 600">Email:</span>&nbsp;
			hello@company.com
		</div></div>
		<div class="row"><div class="col-md-12">
			<span style="font-weight: 600">Phone:</span>&nbsp;
			+375 (29) 543-76-49, +375 (29) 543-76-49
		</div></div>
		<div class="row"><div class="col-md-12">
			<span class="dsp-bk"><span style="font-weight: 600">Mail:</span> 20 Lorem ipsum do sit amet</span>
			6046 Larsinac, Country
		</div></div>
	</div>
	<div class="col-sm-8 col-md-4 col-lg-4">
		<div class="row"><div class="col-md-12">
			<span class="dsp-bk uppercase">Newsletter</span>
			Eiusmod tempor incididunt ut labore et dolore magna
		</div></div>
		<div class="row"><div class="col-md-8">
			<input class="form-control" placeholder="Enter E-mail" />
		</div></div>
		<div class="row"><div class="col-md-12">
			<button class="btn btn-primary" style="margin-top: 20px;">Submit</button>
		</div></div>
	</div>
</div>

<div class="row footer ft-mobile">
	<div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-2">
			<span class="dsp-bk uppercase">Contact us</span>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit
	</div>
	<div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-2">
			<span style="font-weight: 600">Email:</span>&nbsp;
			hello@company.com
	</div>
	<div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-2">
			<span style="font-weight: 600">Phone:</span>&nbsp;
			+375 (29) 543-76-49, +375 (29) 543-76-49
	</div>
	<div class="col-xs-offset-2 col-xs-8 col-sm-8 col-md-offset-2 col-md-2">
			<input class="form-control" placeholder="Enter E-mail" />
	</div>
	<div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-2">
			<button class="btn btn-primary" onclick="return false;" style="margin-top: 20px;">Submit</button>
	</div>
</div>

<div class="end">Copyright &copy; All rights Reserved</div>
