<div class="row header">
    <div class="col-xs-1 col-sm-1 col-md-2">
        <img src="assets/images/big_move.png" class="logo-mobile mobile">
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3">
        <img src="assets/images/big_move.png" class="logo desktop">
    </div>
    <div class="col-xs-5 col-sm-7 col-md-7">
        <ul class="nav nav-tabs desktop">
            <li role="presentation">
                <a href="#" class="uppercase">Home</a>
            </li>
            <li role="presentation"><a href="#" class="uppercase">About us</a></li>
            <li role="presentation"><a href="#" class="uppercase">Services</a></li>
            <li role="presentation"><a href="#" class="uppercase">News</a></li>
            <li role="presentation"><a href="#" class="uppercase">Contact</a></li>
        </ul>
        <div class="side-nav-container mobile">
            <div class="nav-side-menu mobile">
                <div class="brand"></div>
                <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
                <div class="menu-list">
                    <ul id="menu-content" class="menu-content collapse out">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                 </div>
            </div>
        </div>
    </div>
</div>

