<div class="dk-container">
	<div class="dk-in-container">
		<div class="sv-img"></div>
		<div class="row">
			<div class="col-md-2 content-left">
				<a class="uppercase content-links" href="#">Services</a>
				<a class="uppercase content-links" href="#">Air delivery</a>
				<a class="uppercase content-links" href="#">Ground shipping</a>
				<a class="uppercase content-links" href="#">Sea delivery</a>
			</div>
			<div class="col-md-10 content-right">
				<div>
				<div class="row">
					<div class="col-md-12">
						<h2 class="uppercase">What We Do</h2>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<img src="assets/images/air_delivery.jpg" class="img-ct">
						<h3>Air delivery</h3>
						<p>
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.							
						</p>
					</div>
					<div class="col-md-4">
						<img src="assets/images/ground_shipping.jpg" class="img-ct">
						<h3>Ground shipping</h3>
						<p>
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.							
						</p>
					</div>
					<div class="col-md-4">
						<img src="assets/images/sea_delivery.jpg" class="img-ct">
						<h3>Sea delivery</h3>
						<p>
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.							
						</p>
					</div>
				</div>
				</div>
			</div>			
		</div>
	</div>
</div>
