<div class="row">
    <div class="col-xs-12 col-md-12">
        <!-- <div class="spacer-brown"></div> -->
        <div class="city desktop"></div>
        <div class="city-mobile mobile"></div>
    </div>
</div>
<div class="row">
	<div class="col-md-3">
		<div class="row">
			<div class="col-md-12 dd-container desktop">
				<div class="row">
					<div class="col-md-offset-6 col-md-6">
						<select type="text" id="scroll-down" class="form-control floatR scr-down" title="SCROLL DOWN">
							<option value="golf">GOLF</option>
							<option value="tennis">TENNIS</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="city city-content desktop">
        	<div class="row">
        		<div class="col-md-offset-3 col-md-3">
        			<div class="blog-title">
        				<span class="blog-bold">// Our</span>blog
        			</div>
        			<hr class="blog-separator" />
		        	<div class="blog-list blog-scroll">
		        		<div ng-repeat="blog in blogs">
		        			<span class="redir ellipsis" title="{{blog.title}}" 
		        			    ng-click="callComments($event)"
		        			    data-id="{{blog.id}}">
		        				{{blog.title}}
		        			</span>
		        		</div>
		        	</div>
        		</div>
        		<div class="col-md-3">
        			<img src="assets/images/thea.png" class="blog-list img">
        		</div>
        	</div>
        </div>
        <div class="city city-content-mobile mobile">
        	<div class="row">
        		<div class="col-xs-12">
	        		<div class="pad">
	        			<div class="blog-title">
	        				<span class="blog-bold">// Our</span>blog
	        			</div>
	        			<hr class="blog-separator" />
			        	<div class="blog-list">
			        		<div ng-repeat="blog in blogs">
			        			<span class="redir ellipsis" title="{{blog.title}}" ng-click="callComments($event)" data-id="{{blog.id}}">
			        				{{blog.title}}
			        			</span>
			        		</div>
			        	</div>
	        		</div>
	        	</div>
    		</div>
        </div>
    </div>
</div>
